{
  "Entries": [
    {
      "RequestUri": "/beta/reports/getTenantSecureScores(period=0)/content",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"UnknownError\",\r\n    \"message\": \"{\\\"Message\\\":\\\"invalid period\\\"}\",\r\n    \"innerError\": {\r\n      \"request-id\": \"25437984-ac51-4e1c-bed7-6bc171725495\",\r\n      \"date\": \"2018-03-26T03:45:36\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ags-diagnostic": [
          "{\"ServerInfo\":{\"DataCenter\":\"West US 2\",\"Slice\":\"SliceA\",\"Ring\":\"4\",\"ScaleUnit\":\"000\",\"Host\":\"AGSFE_IN_3\",\"ADSiteName\":\"WUS2\"}}"
        ],
        "Duration": [
          "607.9243"
        ]
      },
      "StatusCode": 400
    }
  ],
  "Names": {},
  "Variables": {}
}