{
  "Entries": [
    {
      "RequestUri": "/beta/reports/getTenantSecureScores(period=1)/content",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "[\r\n  {\r\n    \"tenantId\": \"29e3dfe6-de5f-4bda-a56e-75c61750f7ca\",\r\n    \"createdDate\": {\r\n      \"Year\": 2018,\r\n      \"Month\": 3,\r\n      \"Day\": 25\r\n    },\r\n    \"licensedUserCount\": 2,\r\n    \"activeUserCount\": 0,\r\n    \"secureScore\": 47,\r\n    \"maxSecureScore\": 364,\r\n    \"accountScore\": 34,\r\n    \"dataScore\": 13,\r\n    \"deviceScore\": 0,\r\n    \"enabledServices\": [\r\n      \"HasExchange\",\r\n      \"HasLync\",\r\n      \"HasSharePoint\",\r\n      \"HasOD4B\",\r\n      \"HasYammer\"\r\n    ],\r\n    \"controlScores\": [\r\n      {\r\n        \"referenceId\": \"AdminMFA\",\r\n        \"score\": 0,\r\n        \"maxScore\": 50,\r\n        \"controlDetails\": {\r\n          \"count\": \"2\",\r\n          \"total\": \"2\"\r\n        }\r\n      },\r\n      {\r\n        \"referenceId\": \"UserMFA\",\r\n        \"score\": 0,\r\n        \"maxScore\": 30,\r\n        \"controlDetails\": {\r\n          \"count\": \"3\",\r\n          \"total\": \"3\"\r\n        }\r\n      },\r\n      {\r\n        \"referenceId\": \"AltInfoIncomplete\",\r\n        \"score\": 1,\r\n        \"maxScore\": 1,\r\n        \"controlDetails\": {\r\n          \"count\": \"0\",\r\n          \"total\": \"3\"\r\n        }\r\n      },\r\n      {\r\n        \"referenceId\": \"DLPEnabled\",\r\n        \"score\": 0,\r\n        \"maxScore\": 20,\r\n        \"controlDetails\": {\r\n          \"count\": \"0\"\r\n        }\r\n      },\r\n      {\r\n        \"referenceId\": \"IntegratedApps\",\r\n        \"score\": 10,\r\n        \"maxScore\": 10,\r\n        \"controlDetails\": {\r\n          \"on\": \"false\"\r\n        }\r\n      },\r\n      {\r\n        \"referenceId\": \"ManyAdmins\",\r\n        \"score\": 1,\r\n        \"maxScore\": 1,\r\n        \"controlDetails\": {\r\n          \"count\": \"2\"\r\n        }\r\n      },\r\n      {\r\n        \"referenceId\": \"OneAdmin\",\r\n        \"score\": 2,\r\n        \"maxScore\": 2,\r\n        \"controlDetails\": {\r\n          \"count\": \"2\"\r\n        }\r\n      },\r\n      {\r\n        \"referenceId\": \"RoleOverlap\",\r\n        \"score\": 0,\r\n        \"maxScore\": 1,\r\n        \"controlDetails\": {\r\n          \"count\": \"0\"\r\n        }\r\n      },\r\n      {\r\n        \"referenceId\": \"PWAgePolicyNew\",\r\n        \"score\": 10,\r\n        \"maxScore\": 10,\r\n        \"controlDetails\": {\r\n          \"expiry\": \"999\"\r\n        }\r\n      },\r\n      {\r\n        \"referenceId\": \"InactiveAccounts\",\r\n        \"score\": 0,\r\n        \"maxScore\": 1,\r\n        \"controlDetails\": {\r\n          \"count\": \"2\"\r\n        }\r\n      },\r\n      {\r\n        \"referenceId\": \"MDMAlphaPW\",\r\n        \"score\": 0,\r\n        \"maxScore\": 1,\r\n        \"controlDetails\": {\r\n          \"charSetsRequired\": \"0\"\r\n        }\r\n      },\r\n      {\r\n        \"referenceId\": \"MDMEncryptReq\",\r\n        \"score\": 0,\r\n        \"maxScore\": 1,\r\n        \"controlDetails\": {\r\n          \"required\": \"false\"\r\n        }\r\n      },\r\n      {\r\n        \"referenceId\": \"MDMManageEmail\",\r\n        \"score\": 0,\r\n        \"maxScore\": 5,\r\n        \"controlDetails\": {\r\n          \"required\": \"false\"\r\n        }\r\n      },\r\n      {\r\n        \"referenceId\": \"MDMMinPW\",\r\n        \"score\": 0,\r\n        \"maxScore\": 1,\r\n        \"controlDetails\": {\r\n          \"minPasswordLength\": \"0\"\r\n        }\r\n      },\r\n      {\r\n        \"referenceId\": \"MDMPWExpireNew\",\r\n        \"score\": 0,\r\n        \"maxScore\": 1,\r\n        \"controlDetails\": {\r\n          \"expiry\": \"0\"\r\n        }\r\n      },\r\n      {\r\n        \"referenceId\": \"MDMPWReq\",\r\n        \"score\": 0,\r\n        \"maxScore\": 5,\r\n        \"controlDetails\": {\r\n          \"required\": \"false\"\r\n        }\r\n      },\r\n      {\r\n        \"referenceId\": \"MDMRootedBlock\",\r\n        \"score\": 0,\r\n        \"maxScore\": 1,\r\n        \"controlDetails\": {\r\n          \"on\": \"true\"\r\n        }\r\n      },\r\n      {\r\n        \"referenceId\": \"MDMSimplePW\",\r\n        \"score\": 0,\r\n        \"maxScore\": 2,\r\n        \"controlDetails\": {\r\n          \"allowedSimplePassword\": \"false\"\r\n        }\r\n      },\r\n      {\r\n        \"referenceId\": \"MDMWipeOnFail\",\r\n        \"score\": 0,\r\n        \"maxScore\": 1,\r\n        \"controlDetails\": {\r\n          \"maxPasswordAttempts\": \"0\"\r\n        }\r\n      },\r\n      {\r\n        \"referenceId\": \"MDMEnabled\",\r\n        \"score\": 0,\r\n        \"maxScore\": 20,\r\n        \"controlDetails\": {\r\n          \"on\": \"false\",\r\n          \"IntuneOn\": \"false\"\r\n        }\r\n      },\r\n      {\r\n        \"referenceId\": \"MDMLockInactive\",\r\n        \"score\": 0,\r\n        \"maxScore\": 1,\r\n        \"controlDetails\": {\r\n          \"passwordTimeout\": \"0\"\r\n        }\r\n      },\r\n      {\r\n        \"referenceId\": \"MDMPWReuse\",\r\n        \"score\": 0,\r\n        \"maxScore\": 1,\r\n        \"controlDetails\": {\r\n          \"passwordHistoryCount\": \"0\"\r\n        }\r\n      },\r\n      {\r\n        \"referenceId\": \"MDMReportViolation\",\r\n        \"score\": 0,\r\n        \"maxScore\": 5,\r\n        \"controlDetails\": {\r\n          \"on\": \"false\"\r\n        }\r\n      },\r\n      {\r\n        \"referenceId\": \"MBDelegation\",\r\n        \"score\": 1,\r\n        \"maxScore\": 1,\r\n        \"controlDetails\": {\r\n          \"count\": \"0\",\r\n          \"total\": \"1\"\r\n        }\r\n      },\r\n      {\r\n        \"referenceI[...]
