<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- Endpoint address for Azure Active Directory -->
    <add key="ActiveDirectoryEndpoint" value="https://login.microsoftonline.com" />

    <!-- Endpoint address for Microsoft Graph -->
    <add key="GraphEndpoint" value="https://graph.microsoft.com" />

    <!-- Endpoint address for Partner Center -->
    <add key="PartnerCenterEndpoint" value="https://api.partnercenter.microsoft.com" />

    <!-- Identifier for the application used to access Microsoft Graph -->
    <add key="ApplicationId" value="" />

    <!-- Secret for the application -->
    <add key="ApplicationSecret" value="" />

    <!-- Address for the instance of Cosmos DB -->
    <add key="CosmosDbEndpoint" value="" />

    <!-- Access key used when communicating with Cosmos DB -->
    <add key="CosmosDbAccessKey" value="" />

    <!-- Account identifier value obtained from Partner Center -->
    <add key="PartnerCenter.AccountId" value="" />

    <!-- Identifier for the application configured for Partner Center -->
    <add key="PartnerCenter.ApplicationId" value="" />

    <!-- Secret for the application that is configured for Partner Center -->
    <add key="PartnerCenter.ApplicationSecret" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.19.1.3001" newVersion="3.19.1.3001" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>