{
  "Entries": [
    {
      "RequestUri": "/v1/customers",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"totalCount\": 2,\r\n  \"items\": [\r\n    {\r\n      \"id\": \"276eed09-6525-4a94-9b5e-2171d52e1b7e\",\r\n      \"companyProfile\": {\r\n        \"tenantId\": \"276eed09-6525-4a94-9b5e-2171d52e1b7e\",\r\n        \"domain\": \"AcmeCorp001.onmicrosoft.com\",\r\n        \"companyName\": \"Acme Corp\",\r\n        \"links\": {\r\n          \"self\": {\r\n            \"uri\": \"/customers/276eed09-6525-4a94-9b5e-2171d52e1b7e/profiles/company\",\r\n            \"method\": \"GET\",\r\n            \"headers\": []\r\n          }\r\n        },\r\n        \"attributes\": {\r\n          \"objectType\": \"CustomerCompanyProfile\"\r\n        }\r\n      },\r\n      \"relationshipToPartner\": \"reseller\",\r\n      \"links\": {\r\n        \"self\": {\r\n          \"uri\": \"/customers/276eed09-6525-4a94-9b5e-2171d52e1b7e\",\r\n          \"method\": \"GET\",\r\n          \"headers\": []\r\n        }\r\n      },\r\n      \"attributes\": {\r\n        \"objectType\": \"Customer\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"565adbdf-d544-468b-bba3-02d502aaf351\",\r\n      \"companyProfile\": {\r\n        \"tenantId\": \"565adbdf-d544-468b-bba3-02d502aaf351\",\r\n        \"domain\": \"contoso.onmicrosoft.com\",\r\n        \"companyName\": \"Contoso\",\r\n        \"links\": {\r\n          \"self\": {\r\n            \"uri\": \"/customers/565adbdf-d544-468b-bba3-02d502aaf351/profiles/company\",\r\n            \"method\": \"GET\",\r\n            \"headers\": []\r\n          }\r\n        },\r\n        \"attributes\": {\r\n          \"objectType\": \"CustomerCompanyProfile\"\r\n        }\r\n      },\r\n      \"relationshipToPartner\": \"reseller\",\r\n      \"links\": {\r\n        \"self\": {\r\n          \"uri\": \"/customers/565adbdf-d544-468b-bba3-02d502aaf351\",\r\n          \"method\": \"GET\",\r\n          \"headers\": []\r\n        }\r\n      },\r\n      \"attributes\": {\r\n        \"objectType\": \"Customer\"\r\n      }\r\n    },\r\n  ],\r\n  \"links\": {\r\n    \"self\": {\r\n      \"uri\": \"/customers\",\r\n      \"method\": \"GET\",\r\n      \"headers\": []\r\n    }\r\n  },\r\n  \"attributes\": {\r\n    \"objectType\": \"Collection\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "MS-CorrelationId": [
          "8d766f14-8108-4915-95ab-bfb3c02e9954"
        ],
        "MS-RequestId": [
          "59918fb4-d081-4899-bbf4-fe8024376f5b"
        ],
        "MS-CV": [
          "LDv+PWRILU6vQ4Wg.0"
        ],
        "MS-ServerId": [
          "202010607"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}